h1 {
    Font-size: 64pt;
    background-color: darkslateblue;
    text-align: center;
    color: white;
    font-family: monospace;
}

h2 {
    font-size: 28pt;
    color: black;
    text-align: center;
}

body {
    background-color: #fcfcfc;
    opacity: 1.0;
    background-image: radial-gradient(#4200db 1.8px, transparent 1.8px), radial-gradient(#4200db 1.8px, #fcfcfc 1.8px);
    background-size: 72px 72px;
    background-position: 0 0,36px 36px;
}
submit:hover {
    color: red;
}

h3 {
    color: black;
    font-size: 24pt;
    text-align: left;
    text-decoration: underline;
}

a:hover {
    color: red;
}

a:visited {
    color: blue;
}

BoxSizer {
    width: 300px;
    height: 150px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

    .sidebar a {
        padding: 100px 12px 30px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

tr:nth-child(even) {
    background-color: darkslateblue;
    color: white;
}

tr:nth-child(odd) {
        background-color: white;
        color: black;
}

    td, table {
        border: 1px solid black;
        border-collapse: collapse;
        border-bottom: 1px solid black;
    }

h4 {
    font-size: 20pt;
    color: black;
    text-align: left;
    background-color: white;
    border: 1px solid black;
}

h5{
    font-size: 20pt;
    color: white;
    font-family: monospace;
    text-align: center;
}

h6{
    text-align: center;
    font-size: 30pt;
}

#button {
    font-family: monospace;
    font-size: 26px;
    border: 2px solid #7100cf;
    width: 215px;
    height: 50px;
    text-align: center;
    background-color: darkslateblue;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
    
#button:hover {
        color: white;
        background-color: black;
    }
h8 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: darkslateblue;
    font-family: monospace;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 12px;
    border: 2px solid #8d0cf7;
    font-size: 26px;
    text-align: center;
}
.sidebar button {
    padding: 25px 12px 30px;
    text-decoration: none;
    background-color: white;
    font-size: 25px;
    color: #818181;
    display: flex;
    width: 160px;
} 
.sidebar button:hover{
    background-color: darkslateblue;
    color: white;
}
.Storage h3 {
    color: black;
    font-size: 28pt;
    text-align: left;
    text-decoration: underline;
}